<div class="flex flex-col sm:flex-row gap-4 justify-between items-center">
  <div class="flex gap-4 items-center flex-col md:flex-row">
    <button click mat-flat-button (click)="onAddSimpleProduct.emit()">
      Adicionar produto sem variação
    </button>
    <button click mat-flat-button (click)="onAddVariationProduct.emit()">
      Adicionar produto com variação
    </button>
  </div>

  <button
    mat-flat-button
    disabled
    [disabled]="hasProducts()"
    (click)="onRemoveAllProducts.emit($event)"
  >
    <mat-icon>delete</mat-icon>
    Remover todos
  </button>
</div>
