<mat-accordion>
  <mat-expansion-panel
    [ngClass]="{ '!bg-green-200': productForm().controls.id.value }"
    [expanded]="opened()"
    (opened)="toggle()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        @if (created) { [{{ productForm().controls.id.value }}] }
        {{ productForm().controls.name.value ?? "Nome do Produto" }}
      </mat-panel-title>
      <mat-panel-description>{{
        isSimpleProduct ? "Produto simples" : "Produto com variação"
      }}</mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="productForm()" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-4 gap-4">
        <mat-form-field class="col-span-2">
          <mat-label>Nome do produto</mat-label>
          <input
            matInput
            [formControl]="productForm().controls.name"
            [disabled]="loading()"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select
            [formControl]="productForm().controls.brand"
            [disabled]="loading()"
          >
            @for (brand of (brands$ | async)?.data; track brand.id) {
            <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fornecedor</mat-label>
          <mat-select
            [formControl]="productForm().controls.supplier"
            [disabled]="loading()"
          >
            @for (supplier of suppliers$ | async; track supplier) {
            <mat-option [value]="supplier">{{ supplier }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!isSimpleProduct">
          <mat-label>Variações</mat-label>
          <mat-select
            [formControl]="productForm().controls.variations"
            [disabled]="loading()"
          >
            @for (item of (variations$ | async)?.data; track item.id) {
            <mat-option [value]="item">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Categorias</mat-label>
          <mat-select
            [formControl]="productForm().controls.categories"
            multiple
            [disabled]="loading()"
          >
            @for (item of (categories$ | async)?.data; track item.id) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Filtros</mat-label>
          <mat-select
            [formControl]="productForm().controls.filters"
            multiple
            [disabled]="loading()"
          >
            @for (item of (filters$ | async)?.data; track item.id) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div
          class="col-span-4"
          *ngIf="this.productForm().controls.variations.value as variation"
        >
          <h2 class="font-medium">Variações</h2>

          <div class="grid grid-cols-4 gap-4">
            <mat-form-field>
              <mat-label>{{ variation.name }}</mat-label>
              <mat-select
                [formControl]="productForm().controls.variation_values"
                multiple
                [disabled]="loading()"
              >
                @for (item of variation.values.data; track item.id) {
                <mat-option
                  (onSelectionChange)="onSelectVariation($event)"
                  [value]="item"
                  >{{ item.name }}</mat-option
                >
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          class="col-span-4"
          *ngIf="this.productForm().controls.skus.value.length"
        >
          <div formArrayName="skus">
            @for(sku of this.productForm().controls.skus.controls; track sku;
            let i = $index) {
            <div class="flex gap-4 w-full" [formGroupName]="i">
              <mat-form-field *ngIf="sku.value?.name" class="basis-[100px]">
                <mat-label>Variação</mat-label>
                <input
                  [readonly]="true"
                  matInput
                  formControlName="name"
                  [value]="sku.value?.name"
                />
              </mat-form-field>
              <mat-form-field class="basis-[150px]">
                <mat-label>SKU</mat-label>
                <input
                  matInput
                  formControlName="sku"
                  [value]="sku.value?.sku"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Valor de custo (R$)</mat-label>
                <input
                  matInput
                  formControlName="price_cost"
                  [value]="sku.value?.price_cost"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Valor de venda (R$)</mat-label>
                <input
                  matInput
                  formControlName="price_sale"
                  [value]="sku.value?.price_sale"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Valor promocional (R$)</mat-label>
                <input
                  matInput
                  formControlName="price_discount"
                  [value]="sku.value?.price_discount"
                />
              </mat-form-field>
            </div>
            }
          </div>
        </div>
      </div>
      <mat-action-row>
        <button
          mat-flat-button
          disabled
          [disabled]="loading()"
          (click)="onClickDeleteProduct()"
        >
          <mat-icon>delete</mat-icon>
          Remover
        </button>

        <button
          *ngIf="!created"
          mat-button
          type="submit"
          [disabled]="loading()"
        >
          {{ loading() ? "Cadastrando..." : "Cadastrar" }}
        </button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<!-- {{ productForm().value | json }} -->
