<mat-accordion>
  <app-expansion-panel [expanded]="opened()" (opened)="toggle()">
    <app-panel-header
      header
      class="w-full flex justify-between items-center"
      [productForm]="productForm()"
      [isProductCreated]="created"
      [loading]="loading()"
      [hasError]="hasError()"
      (onDuplicateProduct)="onClickDuplicateProduct($event)"
      (onRemoveProduct)="onClickDeleteProduct($event)"
    />

    <app-panel-content
      body
      [productForm]="productForm()"
      [isProductCreated]="created"
      [loading]="loading()"
      (onSubmit)="onSubmit()"
    />
  </app-expansion-panel>
</mat-accordion>
