<form
  [formGroup]="configForm"
  (ngSubmit)="onSubmit()"
  class="max-w-[500px] flex flex-col gap-2"
>
  <mat-form-field>
    <mat-label for="user_token">User Token</mat-label>
    <input matInput id="user_token" formControlName="user_token" />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="secret_key">Secret Key</mat-label>
    <input matInput id="secret_key" formControlName="secret_key" />
  </mat-form-field>

  <div class="flex justify-end">
    <button class="max-w-20" type="submit" mat-flat-button>Salvar</button>
  </div>
</form>
