<header class="mb-4">
  <h1 class="font-medium text-xl md:text-3xl mb-2">Configurações</h1>

  <p class="text-sm md:text-base">Configure as chaves para ter acesso total</p>
</header>

<form
  #formGroupDirective
  [formGroup]="configForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-2"
>
  <mat-form-field>
    <mat-label for="user_token">User Token</mat-label>
    <input matInput id="user_token" formControlName="user_token" />
    @if (configForm.controls.user_token.hasError('required')) {
    <mat-error>Campo obrigatório.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label for="secret_key">Secret Key</mat-label>
    <input matInput id="secret_key" formControlName="secret_key" />
    @if (configForm.controls.secret_key.hasError('required')) {
    <mat-error>Campo obrigatório.</mat-error>
    }
  </mat-form-field>

  <div class="flex justify-end gap-4">
    <button (click)="onCleanData($event)" mat-button>Limpar dados</button>
    <button
      class="max-w-20"
      type="submit"
      mat-flat-button
      [disabled]="configForm.invalid"
    >
      Salvar
    </button>
  </div>
</form>
