<h1 class="text-bold text-3xl mb-2">Cadastrar produtos</h1>

<p class="text-medium mb-4">Adicione os produtos para cadastrar no sistema</p>

<div class="flex gap-4 justify-between items-center">
  <div class="flex gap-4 items-center">
    <button click mat-flat-button (click)="addSimpleProduct()">
      Adicionar produto sem variação
    </button>
    <button click mat-flat-button (click)="addVariationProduct()">
      Adicionar produto com variação
    </button>
  </div>

  <button
    mat-flat-button
    disabled
    [disabled]="itemsArray.length === 0"
    (click)="removeAllProducts($event)"
  >
    <mat-icon>delete</mat-icon>
    Remover todos
  </button>
</div>

<div class="flex flex-col gap-4">
  @for (item of itemsArray.controls; track item; let i = $index) {
  <app-product [productForm]="item" (deleteProduct)="onDeleteProduct(i)" />
  }
</div>
