<h1 class="text-bold text-3xl mb-2">Cadastrar produtos</h1>

<p class="text-medium mb-4">Adicione os produtos para cadastrar no sistema</p>

<div class="flex gap-4">
  <button click mat-flat-button (click)="addSimpleProduct()">
    Adicionar produto sem variação
  </button>
  <button click mat-flat-button (click)="addVariationProduct()">
    Adicionar produto com variação
  </button>
</div>

<div class="flex flex-col gap-4">
  @for (item of itemsArray.controls; track item; let i = $index) {
  <app-product [productForm]="item" (deleteProduct)="onDeleteProduct(i)" />
  }
</div>
